/*reset*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
    
}  

/* estilos de body*/
body{
background-color:beige;  
background-repeat: no-repeat;
background-position: center;
background-size: cover;
font-family: 'Crimson Text', serif;

}

/* estilos de todo lo que esta dentro de header*/






header{
background-color:rgb(217, 217, 208) ;
padding: 1.56rem;
text-align: center;

align-items: center;
display: flex;

}

.titulo{
color:#76601d;
font-size: 3.3rem;
font-weight: bold; 
display:none;
}


header nav ul{
list-style: none;
display: flex;

}
header nav ul li {
background-color:none;
font-family: 'Crimson Text', serif;

padding: 2px;
text-align: center;

}

header nav ul li a{
text-decoration: none;
font-weight: bold;
font-size: 22px;
color:#1B1F44;

}


/* estilos del main*/
main{

text-align: center;
padding: 30px;
margin: 0px;
display: flex;
flex-direction: column;
align-items: center;


}

    
main div img{
width: 18.75rem;
height: 12.5rem;
margin: 10px;

}
main h2{
color:#1B1F44;
text-transform: uppercase;
font-size: 35px;
margin-top: 10px;
padding: 10px;
text-decoration: underline;
text-align: center;
}
main h3{
color:#1B1F44;
font-size: 25px;
margin-top: 10px;
padding: 10px;
text-align: center;
}



.phome {
color:#360527;
font-size: 25px;
font-weight: bold;
margin: 10px;
background-color:#a59565;
padding: 0.5rem;
display:inline-block;
box-shadow: 1px 1px 7px #2e2713;
text-shadow: 0.8px 0.8px 1px #493d1e;
 border-radius: 15px;      
}

  

.ppage3{
font-size: 22px;
text-align: center;

}
.ppage4{
font-size: 23px;
text-align: center;
margin: 20px;
color:#360527
}

.ppage5{
font-size: 28px;
text-align: center;
margin: 20px;
color:#360527

}

.ppage6{
font-size: 22px;
text-align: center;
margin: 20px;
color:#360527  
}


/* estilos de footer*/
footer{
    background-color:rgb(217, 217, 208);
    margin:0;   
}

.footerok{
background-color:rgb(217, 217, 208);
margin:0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   width: 80vw;
}

.footer1 i{
font-size: 3rem;
text-align: center;
padding: 10px;
}
.footerok h4{
text-align: center;
font-size: 1.3rem;
}

.footer3 a{
text-decoration: none;
}

.footer3 h5{
padding-left: 0.75rem;
font-size: 1.3rem;
}

.footer2 img{
    width: 80%;
}

.footer2{
display: flex;
flex-direction: column;
align-items: center;

}

.footer3 div{
    display: flex;
    justify-content: center;
    align-items: center;
}

h6{
    font-size: 1rem;
font-weight: bold; 
display: flex;
justify-content: center;
}


.form-group{
font-size: 1.5rem;
text-align: center;
margin: 50px 50px;
padding-top: 20px;
color:#360527



}
.servicios{
font-size: 25px;
text-align: center;
margin: 30px 30px;
padding-top: 50px 50px;
color:#940468

}

/*estilos del boton*/
.phome:hover{
    transform: scale(0.9);
}

.fotosprincipal{
    display: flex;
    max-width: 100vw;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}
.fotosprincipal img{
    object-fit: cover;
    object-position: center;
}

.fotosprincipal img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}

.fotoportada{
    display: flex;
object-fit: cover;


}






@media screen and (min-width:600px){
    header{
display: flex;
flex-direction: column;
    }
    header nav ul{
        display: flex;
        justify-content: center;
        }
.titulo{
    display: flex;
}





}





main{
    display: block;
    display: flex;

}










.fotostortas{
    display: flex;
    max-width: 100vw;
    width: 100%;
    flex-direction: column;
    justify-content: center;

}
.fotostortas img{
    object-fit: cover;
    object-position: center;
}

.fotostortas img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}

@media screen and (min-width:600px){
.nuestrosproductos{
    display: grid;
    grid-template-columns:repeat(3,4fr) ;
 
    padding: 20px;
    gap: 1.2rem;
}

.nuestrosproductos img{
   object-fit: cover;
   width: 18.75rem;
   height: 12.5rem;
   margin: 10px;
}

.regalosexclusivos{
    display: grid;
    grid-template-columns:repeat(3,4fr) ;
 
    padding: 20px;
    gap: 1.2rem;
}

.regalosexclusivos img{
   object-fit: cover;
   width: 18.75rem;
   height: 12.5rem;
   margin: 10px;
}

    
}
/*estilos del menu bootstrap*/

.nav-color{
    background-color:rgb(217, 217, 208) ;
   
}

.font{

    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
    font-weight: bold;
  color:#1B1F44;

}
.container-fluid{
padding: 0.1rem;

}


.navbar-brand img{
    width: 21rem;


}

.nuestrosproductos img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}

.regalosexclusivos img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}

.promociones img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}

.promociones2 img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}

.promociones3 img:hover{
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.05);
   
}