main{
    padding:0;
    margin: 0;
 
h2{

}



.col-md-6 .col-md-12{
font-size: 1.2rem;
margin: 10px 10px;
padding-top: 10px;
color:$color-page;
font-family:$estilo-texto;

}

.imgcontacto{
    display: flex;
object-fit: cover;

}

}