main{
    padding:0;
    margin: 0;

h2{

}
.cont{
    font-size: 50px;
margin-top:50px;
    
 
}

}
.form-label{
font-size: 1.2rem;
margin: 10px;
padding-top: 10px;
color:$color-page;
font-family:$estilo-texto;



}

.imgcontacto{
    display: flex;
object-fit: cover;

}

.boton{
    width: 40%;
   
    color:$color-titulo;
font-size: 25px;
margin: 10px;
margin-left: 400px;
}