main{
    padding:0;
    margin: 0;
    display: flex;
}

    h2{
        @include main;
        text-transform: uppercase;
        text-decoration: underline;
    }
.prom{
   
        font-size: 50px;
margin-top:50px;
    
 
     }  




.promociones{
    width: 100%;
    height: 430px;
    @extend %estilospromo;
    
    }
 .promo1{
    width: 330px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
   overflow: hidden;
   margin: 20px;
   text-align: center;
 }
img{
    width: 330px;
    height: 280px;
}
.p{
    font-weight: 300;
    padding: 0 5rem;
    font-size: 20px;

}
.a{
    font-weight: 200;
    text-decoration: none;
   
   
}



.promo2{
    width: 100%;
  height: 100%;
   margin:0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
       
}
.promo2 img{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    margin:0;
    overflow: hidden;
    transition: all 0.90s;
    &:hover{
            @extend %estilosHover;
            
    }


}

.promociones3{
@extend %estilospromo;
     
    
    }
 .promo3{
    width: 650px;
    height: 500px;
    border-radius: 8px;
   overflow: hidden;
   margin: 20px;
 
 }
.promo3 img{
    width: 600px;
    height: 400px;
}

.promo3 p{
    font-weight: 50px;
    padding: 0 8rem;
    font-size: 30px;
    

}

.promo4{
    @extend %estilospromo;
  height: 80%;
       
}
.promo4 img{
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    margin:0px;
    overflow: hidden;
    transition: all 0.90s;
    &:hover{
            @extend %estilosHover;
            
    }
}

    

.ppage5{
    @extend %estilospromociones1;
    font-size: 28px;
}
.ppage4{
    @extend %estilospromociones1;
    font-size: 35px;
}


.phome3{
    @include boton;
    &:hover{
        transform: scale(0.9)
    }
margin-left: 200px;
width: 60%;
margin-top: 30px;
}



@media screen and (min-width:600px){
display: flex: ;
.promociones{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 130px;
    @extend %estilospromo;
    
    }
 .promo1{
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 100px;

 }
img{
    width: 130px;
    height: 180px;
}
.promo2{
    width: 60%;
  height: 50%;
   margin:0;
      display: flex;
    
    justify-content: center;
       
}
.promo2 img{
    width: 100px;
    height: 200px;



}


}
