main{
    padding: 30px;
    margin: 0px;
    @include flex;
    flex-direction: column;
    align-items: center;

.ppage6{
    @extend %estilosTitulo; 
    
}

.imgnosotros{
    display: flex;
object-fit: cover;

}
}