%estilosTitulo{
    font-size: 1.38rem;
    text-align: center;  
    margin: 20px;
color:$color-page;

}

%estilosfotosIndex{
    display: flex;
    max-width: 100vw;
    width: 100%;
     
    
}

%estilosHover{
    cursor: pointer;
    opacity: 2;
    transform: scale(1.05);
}

%estilosfotos2{
    object-fit: cover;
    object-position: center; 
     
}

%estilospromociones1{
    text-align: center;
    margin: 20px;
    color: $color-page;  
}